// ProjectCard.scss

.project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 400px;


    .project-image {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        border-radius: 10px;

    }

    a {
        text-decoration: none;
    }


    .project-content {
        padding: 20px;
        height: 20%;
    }

    .project-title {
        font-size: 20px;
        margin-top: 0;
        color: black;
    }

    .project-description {
        font-size: 16px;
        color: #666;
    }
}