.BgHeader {
    background-color: #071633;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {
        width: 230px;
        height: 190px;
    }
}