.SlideCardList {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 586px;

    .SlideCard {
        width: 100%;
        left: 300px;
        top: 0;
        position: absolute;
        transition: opacity 1s;


        &--hide {
            opacity: 0;
        }

        &--display {
            animation: slide 1s forwards;
        }


        &__paginationContainer {
            position: absolute;
            left: 0;
            bottom: 150px;
            display: flex;
            justify-content: center;
            width: 100%;

            input {
                width: 16px;
                height: 16px;
                min-width: 0;

            }
        }


    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}